aiohttp
colorthief
async-timeout
beautifulsoup4
bs4
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
git+https://github.com/freetnt5852/idioticapi
certifi
motor
cffi
asyncpg
git+https://github.com/Mariobob/pynite
pymoe
pymongo
mongokit
chardet
dblpy
osu-sig
psycopg2-binary
pyfiglet
clashroyale
openweathermapy
gitdb2
fuzzywuzzy
GitPython
pytz
idna
youtube_dl
isodate
spotipy
python-Levenshtein
imgurpython
multidict
psutil
pycparser
PyNaCl
requests
six
smmap2
urllib3
websockets
requests
ftfy
yarl
lxml
mtranslate
colorthief
pyparsing
sympy
psutil
emoji
wikipedia
crasync
cr-py
urban-async
safygiphy
