aiohttp
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
motor
pymongo
mongokit
youtube_dl
spotipy
requests
six
pillow
smmap2
urllib3
websockets
requests
ftfy
yarl
colorthief
pyparsing
sympy
psutil

